@media screen and (max-width: 600px) {
.column {
    width: 100%;
}
}
body{
    height: 100%;
    background-color: #17252A;
}
.col {
    float: left;
    height: auto;
}
.left {
    width: 18%;
    background-color:#3AAfa9;
    border: 2px solid;
    border-radius: 3%;
    height: 100%;

}
.right {
    width: 75%;
    margin-left: 1%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}


.navUl {
    margin-top: 5%;
    padding: 0;
    height: 100%;
    text-align: center;
}


.navLi a {
    display: block;
    padding: 8px 16px;
    color: black;
    text-decoration: none;
}

.navLi a.active {
    background-color:dodgerblue;
    color: white;
}

.navLi a:hover:not(.active) {
    background-color: #555;
    color: white;
}

#portraitImg {
    width: 60%;
    border-radius: 50%;
    display: block;
    margin: auto;
    z-index: 2;
}

#portraitTitle {
    height: 5vh;
    background-color: #2B7A78;
    z-index: 3;
    text-align: center;
    border-radius: 14px;
    margin: auto;
    width: 90%;
}

#nameTitle {

}

#jobTitle{
    margin-top: -6%;
}

.imgTitleContainer {
    background-color: #3AAfa9;
    padding-top: 40%;
    border-radius: 3%;

}

hr {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 50%, rgba(255,255,255,1) 100%);
    width: 80%;
} 
.socialLi {
    display: inline-block;
    margin-right: 10%;
    list-style: none;
}